{% load staticfiles %}
<footer class="footer">
    <div class="footer-message">powered with <i class="fa fa-heart" aria-hidden="true"></i> by Django | available on <a href="https://github.com/Velkow/supboard" target="_blank"><i class="fa fa-github" style="color: white;"></i></a></div>
</footer>
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "js/functions.js" %}"></script>
{% if request.get_full_path == "/" %}
    <script src="{% static "js/twitter_timeline.js" %}"></script>
{% endif %}